.projects {
  display: grid;
}

.secondary-heading {
  font-size: 25px;
  margin-bottom: 15px;
}

.project {
  margin-bottom: 20px;
}

.project-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.first {
  background-color: #016972;
}

.second {
  background-color: #65a4da;
}
.third {
  background-color: #e28525;
}

.fourth {
  background-color: #00403f;
}

.project-name {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.project-link {
  margin-top: auto;
}

.project-image {
  display: block;
  width: 100%;
  object-fit: cover;
}
