.projects {
  display: grid;
}

.secondary-heading {
  font-size: 25px;
  margin-bottom: 15px;
}

.project {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  transition: all 0.2s ease-in-out;
}

/* .show-project {
  opacity: 1;
} */

.project-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.first {
  background-color: #016972;
}

.second {
  background-color: #65a4da;
}
.third {
  background-color: #e28525;
}

.fourth {
  background-color: #00403f;
}

.project-name {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.project-link {
  margin-top: auto;
  background-color: #000;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  width: 50%;
  transition: all ease-in-out 0.2s;
}

.project-link:hover {
  background-color: rgb(23, 23, 23);
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
