.projects {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.secondary-heading {
  font-size: 25px;
  margin-bottom: 15px;
}

.project {
  margin-bottom: 20px;
}

.project-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.project:first-child {
  background-color: #016972;
}

.project:nth-child(2) {
  background-color: #65a4da;
}
.project:nth-child(3) {
  background-color: #e28525;
}

.project:last-child {
  background-color: #00403f;
}

.project-name {
  font-size: 20px;
  margin: 20px 0 10px 0;
}

.project-link {
  margin-top: auto;
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
